.wrapper-btn {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(58, 140, 124, 1);
    bottom: 0;
  }
  
  .btn-imprimir {
    padding: 12px 3.75rem;
    color: rgb(4, 59, 52);
    text-transform: uppercase;
    font-weight: bold;
    background:rgb(29, 212, 176);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-imprimir:hover {
    background: rgba(87, 187, 166, 1);
  }
  
  @media (min-width: 1400px) {
    .wrapper-btn {
      height: 6.25rem;
      bottom: 0;
    }
    .btn-imprimir {
      padding: 1rem 5rem;
    }
  }