.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    background: white;
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  .header p {
    font-size: 1.1rem;
    font-weight: normal;
    position: absolute;
    top: 100px;
  }
  .header span {
    font-size: .5rem;
    font-weight: normal;
    position: absolute;
    color: rgb(122, 122, 122);
    text-transform: uppercase;
    top: 120px;
  }

  .sub-title {
    background:rgba(58, 140, 124, 1);
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .sub-title h2 {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
  
  