.menu-btn {
    width: 50px;
    height: 40px;
    top: 4rem;
    right: 2rem;
    position: absolute;
    cursor: pointer;
    z-index: 500;
  }
  .menu-btn span {
     width: 30px;
     height: 3px;
     background: #044d46;
     position: absolute;
     top: 1.2rem;
     left: .7rem;
     cursor: pointer;
  }
  .menu-btn span::after {
    content: '';
    width: 30px;
    height: 3px;
    background: #044d46;
    position: absolute;
    margin-top: 8px;
    cursor: pointer;
    transition: 1s;
  }
  .menu-btn span::before {
    content: '';
    width: 30px;
    height: 3px;
    background: #044d46;
    position: absolute;
    margin-top: -8px;
    cursor: pointer;
    transition: 1s;
  }

  .menu-btn.activeMenu span{
    background: transparent;
  }

  .menu-btn.activeMenu span::after {
    background: rgb(243, 39, 39);
    box-shadow: 1px 1px 4px  rgb(133, 35, 35);
    transform: rotate(135deg);
    top: -15.8px;
  }

  .menu-btn.activeMenu span::before {
    background: rgb(243, 39, 39);
    box-shadow: 1px 1px 4px rgb(133, 35, 35);
    transform: rotate(-135deg);
  }
  
  @media (min-width: 1400px) {
    .menu-btn {
      top: 4.5rem;
    }
  }