
.bxs-cog {
  color: white;
}

.container-menu {
    height: 100vh;
    width: 500px;
    background:#44a390;
    top: 0;
    bottom: 0;
    right: -500px;
    z-index: 400;
    position: absolute;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0, 0.2);
    overflow-y: auto;
    animation: hideMenu 3s forwards;
  }

  .menu-title {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    letter-spacing: 0.15rem;
  }
  .info-exames {
    color: white;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 0.15rem;
  }
  
  .sessaoMenu h4 {
    width: 100%;
    background: white;
    padding: 1rem 2rem;
    cursor: pointer;
    border-bottom: 1px solid  rgb(0, 0, 0, 0.2);
  }
  .lista-sessaoMenu {
    display: none;
    width: 100%;
    background: white;
    padding: 0.5rem 2rem;
    transition: 1s;
  }
  .lista-sessaoMenu li{
    margin-bottom: 0.2rem;
    padding: 0.2rem 0.2rem;
    font-size: .9rem;
    font-weight: 500;
  }
  .lista-sessaoMenu a{
    font-size: 1rem;
    color: blue;
    text-decoration: none;
  }
  .lista-sessaoMenu a:hover{
    color: #044d46;
  }

.container-menu.activeMenu {
  display: block;
  animation: showMenu 1.5s both;
}


.lista-sessaoMenu.activeSection {
  display: block;
  opacity: 1;
  animation: showSub 1.5s ease-out;
}

.sessaoMenu .config h4 {
  background: teal;
  color: white;
  scroll-behavior:  smooth;
}

.configHorario  {
  background: #44a390;
  scroll-behavior:  smooth;
}

.configHorario h4 {
  padding: 10px 5px;
  margin: 20px 0;
  background-color: #44a390;
  color: white;
  cursor:auto;
}

.configHorario label {
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-bottom: 10px;
}
.configHorario input {
  display: inline-block;
  width: 80px;
  border: none;
  border-radius: 4px;
  height: 22px;
  margin: 0 10px 10px 5px ;
  text-align: center;
}
.configHorario input:hover {
  color: currentColor;
}

.btnConfig {
  margin: 20px 0;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  background-color: teal;
  color: white;
  box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.btnConfig:hover {
  background-color: rgb(1, 104, 104);
}


@keyframes showMenu {
  0% {
    opacity: 0.5;
    right: -500px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes hideMenu {
  0% {
    opacity: 1;
    right: 0px;
  }
  90% {
    opacity: 0.6;
    right: -500px;
  }
  100% {
    width: 0px;
  }
}

@keyframes showSub {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;

  }
}

.bg-atencion {
  padding: 6px;
  border-radius: 8px;
  background: teal;
  color: white;
}

@media (min-width: 1400px) {
  .menu-title {
    height: 255px;
    letter-spacing: 0.15rem;
    font-size: 1.2rem;
  }
  .sessaoMenu h4 {
    padding: 1.2rem 2rem;
  }
}
