.observacao {
    background: #0d8a7f; 
    background: -webkit-linear-gradient(to right, #5ac5b0, #044d46); 
    background: linear-gradient(to right, #5ea597, #023f3a); 
    display: flex;
    justify-content: start;
    height: 30px;
    color: white;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease-in;
  }
  
  .observacao h3 {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .observacao input {
    font-family: sans-serif;
    display: inline-block;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .observacao input:hover {
    color: black;
  }