@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #43C6AC;  
    background: -webkit-linear-gradient(to right, #191654, #43C6AC); 
    background: linear-gradient(to right, #191654, #43C6AC);
}

.container {
    display: flex;
    justify-content: center;
}

.sectionLogin {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    width: 350px;
    height: 500px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}
.sectionLogin h1 {
    display: flex;
    font-size: 36px;
    font-family: Raleway;
    font-weight: bold;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}
.form {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form i {
    font-size: 22px;
}

.sectionLogin input {
    background: #eee;
    display: flex;
    width: 250px;
    height: 40px;
    margin: 5px auto;
    padding-left: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);;
    cursor: pointer;
}
.sectionLogin label {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.btnLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 250px;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Raleway;
    cursor: pointer;
    background: #43C6AC;  
    background: -webkit-linear-gradient(to right, #544ec4, #43C6AC); 
    background: linear-gradient(to right, #4741b3, #43C6AC);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);;
}
