* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, helvetica, Arial;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
head {
  color: white;
}

label:hover,
input:hover {
  color: #eee;
  cursor: pointer;
}
.fa-solid {
  color: rgb(114, 224, 70);
}
.icon h4 {
  font-size: 1.1rem;
  margin-top: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  background: white;
  justify-content: center;
  margin-bottom: 2rem;
}
.header p {
  font-size: 0.8rem;
  font-weight: normal;
  position: absolute;
  top: 105px;
}

/* ------------- menu hamburguer ----------- */
.menu-btn {
  width: 50px;
  height: 40px;
  top: 2.5rem;
  right: 2rem;
  position: absolute;
  cursor: pointer;
  z-index: 500;
}

.menu-btn span {
   width: 30px;
   height: 3px;
   background: #044d46;
   position: absolute;
   top: 1.2rem;
   left: .7rem;
   cursor: pointer;
}
.menu-btn span::after {
  content: '';
  width: 30px;
  height: 3px;
  background: #044d46;
  position: absolute;
  margin-top: 8px;
  cursor: pointer;
  animation: split3 2s  forwards;
}
.menu-btn span::before {
  content: '';
  width: 30px;
  height: 3px;
  background: #044d46;
  position: absolute;
  margin-top: -8px;
  cursor: pointer;
  animation: split2 2s  forwards;
}
.menu-btn {
  animation: split 1s  forwards;
}

@keyframes split {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-180deg);
  }
}
@keyframes split2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

@keyframes split3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*------------------ MENU LATERAL ------------------*/
.container-menu {
  height: 100vh;
  width: 500px;
  background:#44a390;
  top: 0;
  right: 0;
  z-index: 400;
  position: absolute;
  display: none;
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0, 0.2);
  overflow-y: auto;
}

.info-manualrecp {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;
  margin-bottom: 4.8rem;
  letter-spacing: 0.15rem;
}
.info-exames {
  color: white;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.15rem;
}

.sessaoMenu h4 {
  width: 100%;
  background: white;
  padding: 1rem 2rem;
  cursor: pointer;
  border-bottom: 1px solid  rgb(0, 0, 0, 0.2);
}
.lista-sessaoMenu {
  display: none;
  width: 100%;
  background: white;
  padding: 0.5rem 2rem;
}
.lista-sessaoMenu li{
  margin-bottom: 0.2rem;
  padding: 0.2rem 0.2rem;
  font-size: .9rem;
  font-weight: 500;
}
.lista-sessaoMenu a{
  font-size: 1rem;
  color: blue;
  text-decoration: none;
}
.lista-sessaoMenu a:hover{
  color: #044d46;
}

.sessaoTodoList {
  height: 150px;
  bottom: auto;
  background: #eee;
}
.sessaoTodoList input{
  width: 300px;
  height: 30px;
  background: #eee;
  margin-top: 1rem;
  padding-left: 0.5rem;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0 rgb(42, 48, 47);
  font-size: .8rem;
}
.sessaoTodoList input:hover,
.sessaoTodoList input:focus{
  color: black;
  box-shadow: 0 0 4px 3px rgb(106, 206, 189);
  outline: none;
  background: rgb(250, 250, 250);
}
.btn-toDo {
  padding: 10px 10px;
  margin-left: 0.5rem;
  border: none;
  border-radius: 4px;
  color: rgb(4, 59, 52);
  text-transform: uppercase;
  font-size: 0.725rem;
  font-weight: 600;
  background:rgb(29, 212, 176);
  cursor: pointer;
}
.btn-toDo:hover  {
  background: rgba(87, 187, 166, 1);
}

.divLi {
  margin: 10px 5px;
  padding: 10px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 4px 5px 10px 0px #0d8a7f;
  display: flex;
  align-items: center;
}

.divLi span {
  width: 95%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.divLi input {
  width: 10%;
  outline: none;
  accent-color: currentcolor;
}
.divLi i{
  color: #0d8a7f;
  font-size: 20px;
  cursor: pointer;
}
.line-through {
  text-decoration: line-through;
  background: rgb(212, 212, 212);
}

.dataHoje {
  padding: 5px;
  border-radius: 8px;
  background: #71beaf;
}


.lista-sessaoMenu li:nth-child(odd) { 
  background: rgb(219, 219, 219);
}

.lista-sessaoMenu h5{
  margin: 1rem auto;
}

/* -------- ativando dinamicamente ---------- */
.container-menu.activeMenu {
  display: block;
  animation: showMenu 1s ease-in-out;
}

.lista-sessaoMenu.activeSection {
  display: block;
  animation: showSub 1.2s forwards;
}

@keyframes showMenu {
  from {
    right: -500px;
    opacity: 0.5;
  }
  to {
    opacity: 1;
    right: 0;
  }

}

@keyframes showSub {
  from {
    opacity: 0;
    top: 0;
    
  }
  to {
    opacity: 1;
    top: auto;
  }
}

/* ----------------- LogOut ---------- */

.btn-logout {
  font-size: 30px;
  color:#0d8a7f;
  position: absolute;
  top: 48px;
  left: 30px;
  cursor: pointer;
}
.btn-logout:hover {
  color: #06776e;
}
.btn-logout:hover::after {
  content: 'Sair';
  font-size: 15px;
  font-weight: 600;
  color: white;
  background: #0d8a7f;
  padding: 5px;
  border-radius: 8px;
}


/* ------------------------------- */
.sub-title {
  background:rgba(58, 140, 124, 1);
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
}
.sub-title h2 {
  font-size: 1.2rem;
  margin-left: 2rem;
}

/* -------------- sessao jejum --------------- */
.sec-jejum {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 20px;
  width: 100%;
  background: #0d8a7f; 
  background: -webkit-linear-gradient(to right, #65d4be, #044d46); 
  background: linear-gradient(to right, #71beaf, #023f3a); 
  color: white;
  visibility: hidden;
  transition: 0.5s linear;
}
.sec-jejum label {
  font-size: 1rem;
  font-weight: bold;
}
.sec-jejum input {
  height: 14px;
  width: 14px;
}

/* ------ Preparos Adicionais ----- */
.preparos-adicionais {
  background: #0d8a7f; 
  background: -webkit-linear-gradient(to right, #5ac5b0, #044d46); 
  background: linear-gradient(to right, #5ea597, #023f3a); 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 20px;
  color: white;
  display: flex;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease-in;
}
.preparos-adicionais label {
  font-size: 1rem;
  font-weight: bold;
}
.preparos-adicionais input {
  margin-right: 1rem;
  height: 13px;
  width: 13px;
}
.res-02, .especiais {
  color: black;
  line-height: 1.125rem;
  font-size: 0.9rem;
  text-align: start;
  margin-bottom: .8rem;
}

/* -------- Materiais a serem coletados --------*/
.sec-materiais {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 20px;
  width: 100%;
  background: #0d8a7f; 
  background: -webkit-linear-gradient(to right, #5ac5b0, #044d46); 
  background: linear-gradient(to right, #5ea597, #023f3a); 
  color: white;
  visibility: hidden;
  transition: 0.5s ease-in;
}
.sec-materiais label {
  font-size: 1rem;
  font-weight: bold;
}
.sec-materiais input {
  margin-left: 0.2rem;
  height: 13px;
  width: 13px;
}
.lista-materiais {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}
.res {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 0.9rem;
  line-height: 1.125rem;
  font-weight: normal;
  margin-bottom: .5rem;
}

/* ------------- obs ---------- */
.observacao {
  background: #0d8a7f; 
  background: -webkit-linear-gradient(to right, #5ac5b0, #044d46); 
  background: linear-gradient(to right, #5ea597, #023f3a); 
  display: flex;
  justify-content: start;
  height: 30px;
  color: white;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease-in;
}
.observacao h3 {
  color: #eee;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: bold;
}
.observacao input {
  font-family: sans-serif;
  display: flex;
  width: 1000px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: normal;
}

.observacao input:hover {
  color: black;
}
/* ---------------- BOTAO IMPRIMIR ------------ */
.wrapper-btn {
  height: 80px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(58, 140, 124, 1);
}
.btn-imprimir {
  padding: 12px 60px;
  color: rgb(4, 59, 52);
  text-transform: uppercase;
  font-weight: bold;
  background:rgb(29, 212, 176);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-imprimir:hover {
  background: rgba(87, 187, 166, 1);
}

/* ---------- ANIMATION SECTION -------- */

.sec-jejum.SectionOn {
  height: 80px;
  visibility: initial;
  transition: 1s;
}

.preparos-adicionais.SectionOn {
  height: 80px;
  visibility: initial;
  transition: 1s;
}
.sec-materiais.SectionOn {
  height: 80px;
  visibility: initial;
  transition: 1s;
}
.observacao.SectionOn {
  height: 100px;
  visibility: initial;
  transition: 1s;
}
.lista-materiais.SectionOn {
   display: block;
}

.btnShowSection {
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 0.8rem;
}
.btnShowSection:hover {
  color: #666;
  transition: 0.2s;
}
/* ------------ AO IMPRIMIR --------- */

.printHide {
  display: none;
  visibility: hidden;
  background: white;
}

/* ------ mobile ------*/ 

@media (max-width: 1200px) {
  .fa-arrow-down {
    display: none;
  }
  
  .btnShowSection {
    margin-top: 1rem;
  }
}